<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<appender name="JSON" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
        <file>${LOG_FILE}.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeCallerInfo>true</includeCallerInfo>
            <customFields>{"appname":"${pom.artifactId}","version":"${pom.version}"}</customFields>
        </encoder>
    </appender>
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
		<appender-ref ref="JSON" />
	</root>
	<logger name="org.springframework" level="INFO"/>
</configuration>